@media screen and (max-width :639px), (orientation:landscape){
    main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 150px);
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";
        gap: 15px;
    }
    
    section{
        background-color: fuchsia;
    }
    
    main>section:nth-child(1){
        grid-area: a;
    }
    
    main>section:nth-child(2){
        grid-area: b;
    }
    
    main>section:nth-child(3){
        grid-area: c;
    }
    
    main>section:nth-child(4){
        grid-area: d;
    }
    
    main>section:nth-child(5){
        grid-area: e;
    }
    
    main>section:nth-child(6){
       grid-area: f;
    }
}
@media screen and (min-width :640px) {
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 100px);
        grid-template-areas: 
        "a a"
        "b b"
        "c d"
        "c d"
        "e d"
        "e d"
        "f f";
        gap: 15px;
    }
    
    section{
        background-color: rgb(60, 0, 128);
    }
    
    main>section:nth-child(1){
        grid-area: a;
    }
    
    main>section:nth-child(2){
        grid-area: b;
    }
    
    main>section:nth-child(3){
        grid-area: c;
    }
    
    main>section:nth-child(4){
        grid-area: d;
    }
    
    main>section:nth-child(5){
        grid-area: e;
    }
    
    main>section:nth-child(6){
       grid-area: f;
    }
}
@media screen and (min-width :1024px) {
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 100px);
        grid-template-areas: 
        "a a b"
        "a a b"
        "c c d"
        "c c d"
        "e e d"
        "e e d"
        "e e d"
        "f f f";
        gap: 15px;
    }
    
    section{
        background-color: rgb(128, 0, 0);
    }
    
    main>section:nth-child(1){
        grid-area: a;
    }
    
    main>section:nth-child(2){
        grid-area: b;
    }
    
    main>section:nth-child(3){
        grid-area: c;
    }
    
    main>section:nth-child(4){
        grid-area: d;
    }
    
    main>section:nth-child(5){
        grid-area: e;
    }
    
    main>section:nth-child(6){
       grid-area: f;
    }
}
